@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Sistema de Cadastro de Filmes</h1>
    <p>Clike no <strong>Movie App</strong> no canto superior esquerdo para começar a cadastrar sua lista de filmes.</p>
</div>
